body
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
/*header*/
.cabecera
{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera div,.cabecera nav
{
    color: rgb(0, 0, 0);
    font-size: 3vh;
}
.titulo
{
    width: 40%;
    margin-left: 5%;
}
.lista-redes
{
    display: flex;
    justify-content: end;
    width: 20%;
    margin-right: 5%;
}
.titulo label
{
    margin-right: 10%;
    font-family: 'Righteous', cursive;
    font-weight: bold;
}
.lista-redes a
{
    margin-right: 10%;
    color: rgb(0 , 0, 0);
}
/*fin header*/

/*main*/
main
{
    position: relative;
    width: 100vw;
    height:90vh ;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(2,50%);
    grid-template-areas: 
    "u u imagen imagen hist"
    "d b imagen imagen  hist"
    ;
}
.universal
{
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 13vh;
    grid-area: u;
    color: rgb(0, 0, 0);
    text-shadow: 15px 15px 0px rgba(0,0,0,0.5);
}
.dance
{
    grid-area: d;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    font-size: 10vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 15px 15px 0px rgba(0,0,0,0.5);
}
.dance p
{
    
    transform: rotate(-90deg);
}
.boton
{
    grid-area: b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vermas
{
    color: rgb(255,255,255);
    background:grey;
    font-size: 2vh;
    font-family: 'Righteous', cursive;
    width: 50%;
    height: 10%;
    border: none;
    transition: all 1s;
}
.vermas:hover
{
    color: rgb(255,255,255);
    background:rgb(0, 0, 0);
    width: 70%;
    height: 20%;
    font-size: 3vh;
}

.historia
{
    grid-area: hist;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
.cont
{
    display: flex;
    transform: rotate(90deg);
}
.cont h2
{
    font-size: 3vw;
    margin-right: 10px;
    border-right: 2px solid black;
}
.cont p
{
    font-size: 0.6vw;
}
/* centro*/
.contenido-Central
{
    grid-area: imagen;
    display: grid;
    grid-template-columns:repeat(2, 50%);
    grid-template-rows: 25% 75%;
    grid-template-areas:
    "histuno histdos"
    "imagen imagen" 
    ;
}

.frase-uno
{
    grid-area: histuno;
    color: rgb(0, 0, 0);
    margin: 50px 10px;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}
.frase-uno h2
{
    font-size: 3vh;
    font-weight: bold;
    margin-top: 10%;
}
.frase-dos
{
    grid-area: histdos;
    color: rgb(0, 0, 0);
    margin: 50px 10px;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}
.frase-dos h2
{
    font-size: 3vh;
    font-weight: bold;
    margin-top: 10%;
}
.imagen
{
    grid-area: imagen;
    display: flex;
    justify-content: space-around;
}
.imagen img
{
    height: 100%;
    filter: brightness(0);
}

@media screen and (max-width:415px)
{
    .frase-uno,.frase-dos
    {
        display: none;
    }
    main
    {
        grid-template-columns: 20% 80%;
        grid-template-rows: 10% 70% 10% 10%;
        grid-template-areas: 
        "universal universal"
        "dance imagen"
        "historia historia"
        "vermas vermas"
        ;
    }
    .universal
    {
        grid-area: universal;
        font-size: 9vh;
    }
    .dance
    {
        grid-area: dance;
        font-size: 6vh;
    }
    .historia
    {
        grid-area: historia;
        justify-content: space-around;
    }
    .cont h2
    {
        font-size: 5VH;
        background-color: red;
        color: white;
    }
    .cont p
    {
        font-size: 1VH;
    }
    .cont
    {
        transform: rotate(0deg);
        width: 50%;

    }
    .boton
    {
        grid-area: vermas;
    }
    .vermas
    {
        width: 50%;
        height: 70%;
    }
}
